{{#each birthdays as |birthday|}}



   <!-- use data-id not just id-->
   <ul class = 'birthdays-list' data-id="{{birthday.id}}">
    <li> {{birthday.given_name}} {{birthday.family_name}} </li>
     <li> {{birthday.born_on}} </li>
     <button type="submit" class = "btn btn-primary remove-birthday-btn" data-id="{{birthday.id}}" name="button">Remove</button>
     <button type="button" class = "btn btn-primary update-birthday-btn" data-id="{{birthday.id}}" name="button">Update</button>
   </ul>

{{/each}}
