
<ul class = 'birthday-list' data-id="{{birthday.id}}">
 <li> Name: {{birthday.given_name}} {{birthday.family_name}} </li>
  <li> Birthday: {{birthday.born_on}} </li>
  <button type="submit" class = "btn btn-primary remove-birthday-btn" data-id="{{birthday.id}}" name="button">Remove</button>
  <button type="button" class = "btn btn-primary update-birthday-btn" data-id="{{birthday.id}}" name="button">Update</button>
</ul>
